<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Chat App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-teal-600">
    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <a href="/" class="text-xl text-white">{% block title%}{% endblock %}DjangoChat</a>

        <div class="flex items-center space-x-4">
            {% if request.user.is_authenticated %}
                <a href="/rooms/" class="text-white hover:text-gray-400">Rooms</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    {% comment %} <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Log-out</a> {% endcomment %}
                    <button type="submit" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" >Log-out</button>
                </form>
            {% else %}
                <a href="/login/" class="text-white hover:text-gray-400">LogIn</a>
                <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">SignUp</a>
            {% endif %}
        </div>
    </nav>
    <!-- here in mobile phone and large screen padding should be different -->
    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}
</body>
</html>